.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-item {
  text-align: center;
}

.circular-loader {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.container {
  position: relative;
}

.lower-element {
  /* Your styles for the lower element */
  position: absolute;
  z-index: -2;
}

.lower-element:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent; /* Set your desired hover effect */
  z-index: -3; /* Place the pseudo-element below the actual element */
}